$defaultTagBackgrounds: #8a0, #e69, #06e, #f80, #65e;

/* Default article style */
.article-list {

    article {

        &:hover {

        }

        .article-image {
            img {

            }
        }

        @for $i from 1 through length($defaultTagBackgrounds) {
            &:nth-child(#{length($defaultTagBackgrounds)}n + #{$i}) {
                .article-category a {
                    background: nth($defaultTagBackgrounds, $i);
                    color: nth($defaultTagColors, $i);
                }
            }
        }
    }
}

.related-content {
    article {
        @for $i from 1 through length($defaultTagBackgrounds) {
            &:nth-child(#{length($defaultTagBackgrounds)}n + #{$i}) {
                & {
                    // background: nth($defaultTagBackgrounds, $i);
                    background: darken(desaturate(nth($defaultTagBackgrounds, $i), 65%), 10%);
                    .article-title{
                        color: nth($defaultTagColors, $i);
                    }
                }
            }
        }
    }
}

/*内容区域优化*/
.article-content img {
    max-height: 95vh;
    width: auto;
}

/* 自定义模板 */
.template-archives{
    .main{
        h1{
            margin-bottom: -25px;
            color: var(--accent-color);
        }
    }
}


/* 临时处理 */
/*手机访问显示右边栏*/
.container .right-sidebar{display: flex;}
/* 菜单优化 */
#main-menu li a{
    color: var(--card-text-color-main);
    gap: 0.5em;
    align-items: flex-start;
    &:hover{
        background: var(--code-background-color);
    }
}

/* 自定义主题色切换按钮 */
#dark-mode-toggle{
    // margin-top: 0;
    // padding-top: 1em !important;
    // border-top: 1px solid #87878752;
    color: inherit;
    span{
        span{
            padding-left: 0.5em;
        }
    }
}

/* 语言选项*/
#i18n-switch{gap: 0.5em;}
#main-menu li .language{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: .2em;
    align-items: flex-start;
    flex-wrap: wrap;
    a{
        color: var(--body-text-color);
        &.on {
            width: 0;
            overflow: hidden;
        }
        
    }
}


/*边栏调整*/
.widget-icon {font-size: 1.32em;}
/*友链*/
.friend-links{margin-block-start: 0; margin-block-end: 0; padding-inline-start: 0; list-style: none; flex-wrap: nowrap; flex-direction: column;}
.friend-links li{display: inline-flex;}
/*交互优化*/
.tagCloud-tags a:hover,
.article-title a:hover,
.article-list article .article-category a:hover,
.related-content article:hover{filter: contrast(150%) hue-rotate(100deg);}
/* .article-title a:hover{color: #f80;} */
/* .tagCloud-tags a:hover{background-color: #06e;} */
/* .friend-links a:hover{background-color: #8a0;} */

body{transition: none !important;}

#photobanner {
    // background: url(https://yijile.com/static/images/sunset-01-440x80.webp) no-repeat center -16px;
    // background-size: contain;
    height: auto;
    width: 100vw;
    left: 0; right: 0; top: 0;
    position: fixed;
    z-index: -1;
    animation: fade-in 4s;
    img {
        width: 110%;
        height: auto;
        display: block;
        opacity: .4;
        filter: blur(6px);
        margin: -1em -5% auto;
    }
    &::after {
        content: " ";
        height: 50%;
        width: 100%;
        display: block;
        bottom: -1em;
        background: linear-gradient(rgba(225,225,225, 0%), var(--body-background));
        background: linear-gradient(color-mix(in srgb, var(--body-background) 0%, transparent), var(--body-background));
        position: absolute;
        z-index: 2;
    }
}


@keyframes fade-in {
    0% {
      opacity: 0;
    }
    18% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
}

/* 嵌入视频优化 */
.video-container {
    position: relative;
    padding-top: 56.25%;
    height: 0;
    overflow: hidden;
}
.video-container iframe,
.video-container object,
.video-container embed {
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
margin-top: 0;
}

/*friends-list*/
.article-page .main-article .article-content{
    .friends-list img{max-width: 1.5em; height: auto; border-radius: 500em;}
}

/* 底部自定义健康提示 */
.health-tips {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto 0 0;
    padding: 0.8em;
    border-radius: 15px 15px 0 0;
    font-size: 12px;
    text-align: center;
    background: var(--body-background);
    color: var(--body-text-color);
}

/*网站运行时长*/
#runningtime{color: #494;}

/* docsearch 自定义样式 */
.sidebar #docsearch { display: flex ; flex-direction: column; }
.sidebar #docsearch .DocSearch-Button{background-color: var(--card-background);border: 0; border-radius: var(--card-border-radius); padding: 15px 20px 15px;}
.sidebar #docsearch .DocSearch-Button-Container svg {color: var(--card-text-color-tertiary);}
.sidebar #docsearch .DocSearch-Button-Placeholder {font-size: 1.3rem;}

/*推广优化*/
ins.adsbygoogle {
    overflow: hidden;
}
.main-article ins.adsbygoogle {
    margin-top: 0.5em;
}

/* waline优化*/
.wl-reaction-title {
    color: var(--card-text-color-main);
}


/*相册页面*/
.gallery-grid {
    column-count: 2; // 默认2列
    column-gap: 15px;
    padding-bottom: 3em;

    @media (min-width: 768px) {
        column-count: 3;
    }

    @media (min-width: 1024px) {
        column-count: 4;
    }
}

.gallery-item {
    margin-bottom: 15px; // 垂直间距
    break-inside: avoid;
    page-break-inside: avoid; // 兼容
    border-radius: 12px;
    overflow: hidden;
    img {
        display: block;
        width: 100%;
        height: auto;
        box-shadow: 0 2px 5px rgba(0,0,0,0.1);
        transition: transform 0.2s ease-in-out;
        cursor: zoom-in;
        object-fit: cover;
    }

    a[href*="."] { // Targets image links (containing a dot for file extensions)
        display: block;
        line-height: 0;
    }

    img:hover {
        transform: translateY(3px) scale(1.2);
    }

    .gallery-title {
        display: block;
        font-size: 0.8em;
        color: var(--card-text-color-main);
        text-decoration: none;
        white-space: nowrap; // 单行显示
        overflow: hidden; // 超出隐藏
        text-overflow: ellipsis; // 超出部分显示省略号
        text-align: center;
        line-height: 1.2; // 确保标题可见
        font-weight: 500; // 稍加粗
        padding: 0.8em;
        background: rgba(129, 129, 129, 0.16);
        transition: color 0.2s ease-in-out;
    }

    .gallery-title:hover {
        text-decoration: underline;
    }
}


/*灯箱*/
/*like, photos*/
.lb {
    position:fixed; inset:0; display:none; align-items:center; justify-content:center;
    background:rgba(0,0,0,.85); z-index:9999;
}
.lb.show { display:flex; }
.lb .box { position:relative; max-width:95%; max-height:95%; text-align:center; }
.lb img { max-width:100%; max-height:80vh; }
.lb .caption { margin-top:6px; color:#eee; font-size:14px; }
.lb .close { position:absolute; right:-8px; top:-8px; background:#222; color:#fff;
width:28px;height:28px; display:flex;align-items:center;justify-content:center;
border-radius:50%; cursor:pointer; border: 2px solid;}
.lb .nav { position:absolute; top:50%; transform:translateY(-50%); font-size:40px; color:#fff; cursor:pointer; padding:10px; user-select:none; }
.lb .nav.prev { left:10px; } .lb .nav.next { right:10px; }