<script src="https://cdn.jsdelivr.net/npm/@docsearch/js@beta"></script>
<script>docsearch({
  container: '#docsearch',
  appId: 'ZLXQLZSKUC',
  indexName: 'yijile', 
  apiKey: '05cff29be2ed62419b793bdd60737de8',
//   askAi: 'YOUR_ALGOLIA_ASSISTANT_ID',
  maxResultsPerGroup: '100',
  placeholder: '搜索文档......'
});
</script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@docsearch/css@beta" />
<style>
#docsearch { display: flex ; flex-direction: column; }
.DocSearch-Button{background-color: var(--card-background);border: 0; border-radius: var(--card-border-radius); padding: 15px 20px 15px;}
.DocSearch-Button-Container svg {color: var(--card-text-color-tertiary);}
.DocSearch-Button-Placeholder {font-size: 1.3rem;}
.DocSearch-Button-Key{}
</style>