<script src="https://cdn.jsdelivr.net/npm/@docsearch/js@beta"></script>
<script>docsearch({
  container: '#docsearch',
  appId: 'ZLXQLZSKUC',
  indexName: 'yijile', 
  apiKey: '05cff29be2ed62419b793bdd60737de8',
//   askAi: 'YOUR_ALGOLIA_ASSISTANT_ID',
  maxResultsPerGroup: '100',
  placeholder: '搜索文档......'
});
</script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@docsearch/css@beta" />

{{ if .Site.Params.say.enable }}
<div class="health-tips"><script>var quotes = [ {{ range .Site.Params.say.list }} "{{ . }}",{{ end }} ];
var quote_note;quote_note = quotes[Math.floor(Math.random() * quotes.length)];document.write(quote_note);</script></div>
{{ end }}