<link rel="stylesheet" href="https://unpkg.com/@docsearch/css@beta" />
<script src="https://unpkg.com/@docsearch/js@beta"></script>
{{/*  <script>
docsearch({
  container: '#docsearch',
  appId: 'ZLXQLZSKUC',
  indexName: 'yijile', 
  apiKey: '05cff29be2ed62419b793bdd60737de8',
//   askAi: 'YOUR_ALGOLIA_ASSISTANT_ID',
  maxResultsPerGroup: '100',
  placeholder: '{{ T `search.placeholder` }}......'
});
</script>  */}}

<script>
  window.addEventListener('load', () => {
    requestIdleCallback(() => {
      const script = document.createElement('script');
      script.src = 'https://unpkg.com/@docsearch/js@beta';
      script.onload = () => {
        docsearch({
          container: '#docsearch',
          appId: 'ZLXQLZSKUC',
          indexName: 'yijile', 
          apiKey: '05cff29be2ed62419b793bdd60737de8',
        //   askAi: 'YOUR_ALGOLIA_ASSISTANT_ID',
          maxResultsPerGroup: '100',
          placeholder: '{{ T `search.placeholder` }}......'
        });
      };
      document.body.appendChild(script);
    });
  });
</script>

{{ if .Site.Params.say.enable }}
<div class="health-tips"><script>var quotes = [ {{ range .Site.Params.say.list }} "{{ . }}",{{ end }} ];
var quote_note;quote_note = quotes[Math.floor(Math.random() * quotes.length)];document.write(quote_note);</script></div>
{{ end }}