<link href='//unpkg.com/@waline/client@v3/dist/waline.css' rel='stylesheet'/>
<div id="waline" class="waline-container"></div>
<style>
    .waline-container {
        background-color: var(--card-background);
        border-radius: var(--card-border-radius);
        box-shadow: var(--shadow-l1);
        padding: var(--card-padding);
        --waline-font-size: var(--article-font-size);
    }
    .waline-container .wl-count {
        color: var(--card-text-color-main);
    }
</style>

{{- with .Site.Params.comments.waline -}}
{{- $config := dict "el" "#waline" "dark" `html[data-scheme="dark"]` -}}
{{- $replaceKeys := dict "serverurl" "serverURL" "requiredmeta" "requiredMeta" "wordlimit" "wordLimit" "pagesize" "pageSize" "imageuploader" "imageUploader" "texrenderer" "texRenderer" -}}

{{- range $key, $val := . -}}
    {{- if ne $val nil -}}  
        {{- $replaceKey := index $replaceKeys $key -}}
        {{- $k := default $key $replaceKey -}}

        {{- $config = merge $config (dict $k $val) -}}
    {{- end -}}
{{- end -}}

<script type="module">
    import { init } from 'https://unpkg.com/@waline/client@v3/dist/waline.js';
    init({{ $config | jsonify | safeJS }});
</script>

<script>
    document.addEventListener("DOMContentLoaded", () => {
      const commentEl = document.querySelector("#waline");
      if (!commentEl) return;
    
      const whitelist = ["yijile.com", "localhost", "github.com", "1px.run"];
    
      const isWhitelisted = href => {
        try {
          const host = new URL(href).hostname;
          return whitelist.some(domain => host.endsWith(domain));
        } catch {
          return false;
        }
      };
    
      const updateLinks = () => {
        commentEl.querySelectorAll("a[href^='http']").forEach(link => {
          const href = link.getAttribute("href");
          if (!isWhitelisted(href)) {
            link.href = `/links/redirect.html?url=${encodeURIComponent(href)}`;
            link.target = "_blank";
            link.rel = "noopener noreferrer nofollow";
          } else {
            link.setAttribute("target", "_blank");
            link.setAttribute("rel", "noopener noreferrer");
          }
        });
      };
    
      new MutationObserver(updateLinks).observe(commentEl, { childList: true, subtree: true });
    });
    </script>
    
{{- end -}}
